ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    height: 26vh;
    flex-grow: 1;
    &:hover{
      flex-grow: 31;
      transition: all 0.5s ease;
    }
  }
  
  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;

    &:hover{
      transition: all 0.5s ease;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
    
  @media (max-aspect-ratio: 1/1) {
    li {
      height: 25vh;
    }
  }
    
  @media (max-height: 480px) {
    li {
      height: 80vh;
    }
  }
    
  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
      flex-direction: row;
    }
  
    li {
        height: 25vh;
    }
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }